<%= form_for(@corporation) do |f| %>
  	<% if @corporation.errors.any? %>
		<div id="error_explanation">
	  		<h2><%= pluralize(@corporation.errors.count, "error") %> prohibited this corporation from being saved:</h2>
			<ul>
	  			<% @corporation.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
	  			<% end %>
	  		</ul>
		</div>
  	<% end %>

  	<form role="form">
  		
  		<p>Complete these questions to get your certificate of incorporation. Press the <a data-toggle="modal" data-target="#infoModal">
  <span class="glyphicon glyphicon-info-sign"></span> </a> icon if you need assistance.</p>
  		
  		</br>

  		<h4>1. Corporation Name <a data-toggle="modal" data-target="#nameModal"> <span class="glyphicon glyphicon-info-sign"></span> </a> </h4>
  		</br>
		<div class="form-group">
		  	<div class="row">
		  		<div class="col-lg-3">
					<%= f.text_field :name, :class => 'form-control input-lg', :placeholder => "Enter a name" %>
					<p class="help-block">What is the name of the company?</p>
				</div>
			
				<div class="col-lg-2 ">
					<%= f.select :extension, options_for_select(["Inc.", "Co.", "Corp.", "Ltd.","association", "company", "corporation", "club", "foundation", "fund", "incorporated", "institute", "society", "union", "syndicate", "limited"]), {},  :class => 'form-control input-lg' %>
					<p class="help-block">Choose an extension.</p>
				</div>
		
			</div>
		</div>
		

		<h4>2. Share preferences <a data-toggle="modal" data-target="#shareModal">
  <span class="glyphicon glyphicon-info-sign"></span> </a></h4>
		</br>
	
		<div class="form-group">
		
			<div class="row">
		
				<div class="col-lg-3">
					<%= f.text_field :share_number, :class => 'form-control input-lg', :value => "10,000,000" %>
					<p class="help-block">Set the number of authorized shares.</p>
				</div>
			
				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-addon">$</span>

						<%= f.text_field :share_value, :class => 'form-control input-lg', :value => "0.00001" %>
		  			</div>
		  			<p class="help-block">Set the share value.</p>
		  		</div>
	  		</div>
		</div>
		<h4>3. Incorporator info <a data-toggle="modal" data-target="#incorporatorModal">
  <span class="glyphicon glyphicon-info-sign"></span> </a></h4>
		</br>
		<%= f.fields_for :registered_agent do |fa| %>

				<div class="row">
					<div class="col-lg-4">
					<p class="help-block">Who is incorporating the company?</p>

	  					<div class="form-group">
	      					
	      					<%=fa.text_field :name,  :class => 'form-control input-lg', :placeholder => "Full Name" %>
	      				</div>
	      				<div class="form-group">
							<%=fa.text_field :address_line_1,  :class => 'form-control input-lg', :placeholder => "Address Line 1" %>
						</div>
					<div class="form-group">
					<%=fa.text_field :address_line_2,  :class => 'form-control input-lg', :placeholder => "Address Line 2 (Optional)" %>
				</div>
					<div class="form-group">
					<%=fa.text_field :city,  :class => 'form-control input-lg', :placeholder => "City" %>
				</div>
					<div class="form-group">
					<%=fa.text_field :state,  :class => 'form-control input-lg', :placeholder => "State" %>
				</div>
					<div class="form-group">
					<%=fa.text_field :postal_code,  :class => 'form-control input-lg', :placeholder => "Zip" %>
				</div>
					<div class="form-group">
					<%=fa.text_field :country,  :class => 'form-control input-lg', :placeholder => "Country" %>
				</div>
 			<% end %>
</div>
</div>



		</br>

		<div class="form-group">
			<%= f.submit 'Generate Documents', :class => 'btn btn-lg btn-primary' %>
		</div>

<% end %>

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Choosing a name</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">On company shares</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="incorporatorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About the incorporator</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->