<p id="notice"><%= notice %></p>
<h1><%= @corporation.name %>&nbsp;<%= @corporation.extension %></h1>


<p>
  <strong>Share number:</strong>
  <%= @corporation.share_number %>
</p>

<p>
  <strong>Share value:</strong>
  <%= @corporation.share_value %>
</p>

<p><%= @corporation.registered_agent.name %></p>

<%= link_to 'Edit', edit_corporation_path(@corporation) %> |
<%= link_to 'Back', corporations_path %>
