<div class="bs-callout bs-callout-info">
      <h4>Documents Succesfully Generated</h4>
      <p>Your certificate of incorporation has been created and sent to email@domain.com. Additional steps are required in order to complete the incorporation of <%= @corporation.name %>&nbsp;<%= @corporation.extension %> You can perform these tasks yourself, at your own risk. If you would like assistance, we  invite you to look at our convenient filing and lawyer review options.</p>
</div>

<div class="row">
	<div class="col-lg-9">
		
      <h2 style="display:inline-block; vertical-align:-18%"><%= @corporation.name %>&nbsp;<%= @corporation.extension %></h2>
      <span class="badge" style="margin-left:10px";>Pending Filing</span>

    </br>
    </br>

    <div class="row">

    <div class="col-lg-4">
      <div class="tile">
         <i class="fa fa-briefcase fa-inverse fa-5x"></i>
         <p>Get Professional Assistance</p>
      </div>
    </div>

    <div class="col-lg-4">
      <%= link_to '/guides/corporation' do %>
        <div class="tile">
           <i class="fa fa-file-text fa-inverse fa-5x"></i>
           <p>Incorporation Guide</p>
        </div>
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= link_to corporation_path(@corporation, format: "pdf") do %>
      <div class="tile">
         <i class="fa fa-cloud-download fa-inverse fa-5x"></i>
         <p>Download Documents</p>
      </div>

<% end %>
    </div>



  </div>



</div>	




	<div class="col-lg-3">
		</br>
		<p><strong>Most Recent Activity</strong></p>
		<p>Generated <%= link_to "Certificate of Incorporation", corporation_path(@corporation, format: "pdf") %>.
		<em class="small">Jan 4 by <%= @corporation.incorporator.name %></em></p>
	</div>
</div>






<%= link_to 'Edit', edit_corporation_path(@corporation) %>


